<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <!-- Utilisation des variables globales dans config\packages\twig.yaml-->
            © 2020 Copyright {{ project_name }} - Version {{ version }}
        </div>
    </div>
</footer>